In [21]:
import pandas as pd 
import numpy as np

In [22]:
customer = pd.read_csv('customer.csv')

In [23]:
customer.head()

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,36268,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,35901,Nam,man thai,KH0104|0333,student,health service
2,0000000051,34319,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,36472,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,34608,Nam,cẩm lệ,KH0104|40580,blue collar,health service

In [24]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  4479 non-null   object
 1   DOB         4479 non-null   int64
 2   gender      4479 non-null   object
 3   address     4478 non-null   object
 4   Website     3943 non-null   object
 5   job         4479 non-null   object
 6   industry    3357 non-null   object
dtypes: int64(1), object(6)
memory usage: 245.1+ KB

In [25]:
from datetime import datetime, timedelta

In [26]:
current_date = datetime.now()
base_date = datetime(1899, 12, 30)
max_days_difference = (current_date - base_date).days

In [27]:
rows_to_drop = customer[customer['DOB']>max_days_difference].index

In [28]:
customer.drop(rows_to_drop, axis=0, inplace=True)

In [29]:
def date_convert(excel_date_value):
    base_date = datetime(1899, 12, 30)
    resulting_date = base_date + timedelta(days=excel_date_value)
    formatted_date = resulting_date.strftime('%d/%m/%Y')
    return formatted_date

customer['DOB'] = customer['DOB'].apply(date_convert)

In [30]:
customer['DOB'] = pd.to_datetime(customer['DOB'], format='%d/%m/%Y')

In [31]:
def age_calculate(birthdate):
    current_date = datetime.now()
    age = current_date.year - birthdate.year - ((current_date.month, current_date.day) < (birthdate.month, birthdate.day))
    return age 

customer['age'] = customer['DOB'].apply(age_calculate)

In [32]:
customer['age']

0       24
1       25
2       30
3       24
4       29
        ..
4474    28
4475    23
4476    35
4477    27
4478    21
Name: age, Length: 4475, dtype: int64

In [33]:
customer.head()

,customerid,DOB,gender,address,Website,job,industry,age
0,0000000014,1999-04-18,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer,24
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,25
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,30
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,24
4,0000000098,1994-10-01,Nam,cẩm lệ,KH0104|40580,blue collar,health service,29

In [34]:
customer.nunique()

customerid    4475
DOB           3049
gender           2
address       1260
Website       3940
job              5
industry         9
age             50
dtype: int64

In [37]:
customer['gender'] = customer['gender'].astype('category')

In [40]:
customer['address'].value_counts()

address
hải châu                     312
ngũ hành sơn                 294
hòa khánh                    270
liên chiểu                   263
sơn trà                      252
                            ...
vũ quỳnh                       1
Pleiku, Gia Lai                1
Phan Boi                       1
 THÁI THỊ BÔI ĐÀ NẴNG          1
Thanh Khê Tây - Thanh Khê      1
Name: count, Length: 1260, dtype: int64

In [46]:
customer.isnull().sum()

customerid       0
DOB              0
gender           0
address          1
Website        535
job              0
industry      1118
age              0
dtype: int64

In [49]:
null_address_rows = customer[customer['address'].isnull()].index

In [50]:
customer.drop(null_address_rows, axis=0, inplace=True)

In [58]:
from unidecode import unidecode

customer['address'] = customer['address'].apply(lambda x: unidecode(x.lower().strip()))

In [59]:
customer[customer['address'].apply(lambda x: len(x.split())==2)]['address'].unique()

array(['man thai', 'truong chinh', 'cam le', 'tam thuan', 'cam le,dn',
       'le duan', 'thuan phuoc', 'lien chieu', 'hoa vang', 'ton dan',
       'thanh son', 'hoa minh', 'son tra', 'thanh khe', 'hai chau',
       'hung vuong', 'hoa khanh', 'dong da', 'me nhu', 'nguyen chanh',
       'van cao', 'phan thanh', 'lang ha', 'to hieu', 'hia phong',
       'yen khe', 'khu dong', 'dong ki', 'quang tri', 'le thiet',
       'hoaf vang', 'khue trung', 'hoang dieu', 'le do', 'quang nam',
       'bui vien', 'que son', 'nguyen trai', 'dao tan', 'ly trieu',
       'tran phu', 'ham nghi', 'ngoc han', 'bac dau', 'tan thai',
       'hai phong', 'thanh thuy', 'man quang', 'huynh ly', 'hai son',
       'do quang', 'thanh long', 'ky dong', 'co giang', 'duy tan',
       'ngo quyen', 'thanh duyen', 'thuc te', 'quang trung', 'hoi an',
       'quang ngai', 'hoa chau', 'yen bay', 'an don', 'thanh hai',
       'nguyen nghiem', 'hoa lien', 'hoa phat', 'dak lak', 'binh dinh',
       'van don', 'hoa son', 'thoi huu', 'truong son', 'nui thanh',
       'cao thang', 'tam ky', 'nguyen dang', 'mai an', 'nguyen hoang',
       'pasraur, dn', 'the lu', 'thai phien', 'nguyen du', 'le loi',
       'ha son', 'vu quynh', 'phan boi', 'hao vang', 'quang rnam',
       'quang binh', 'chinh gian', 'tam ki', 'le co', '- blo', 'caam le',
       'phu yen', 'ba dinh', 'hoaf khanhf', 'dai loc', 'mai am',
       'khuc hao', 'q.lien chieu', 'thanh  khe', 'ha tinh', 'thac gian',
       'quang  nam', 'le lai', 'hai duong', 'quang nma', 'duy xuyen',
       'hoa an', 'hoa tien', 'cam leh', 'truong dinh', 'nam cao',
       'vu huu', 'thnah khe', 'hoa vnag', 'quangr nam', 'quang nam,',
       'nguyen trac', 'hair chaau', 'ha noi', 'khanh hoa', 'son trag',
       'son trta', 'thang binh', 'lieenc hieu', 'lang son', 'cach mang',
       'thanh khee', 'kon tum', 'do nhuan', 'nguyen hien', 'au co',
       'nghe an', 'kien giang', 'gia lai', 'nguyen bieu', 'thi sach',
       'tieu la', 'hoa phong', 'an khe', 'khuc ha', 'bac son',
       'bac giang', 'hoa thanh', 'quangc ngai', 'han thuyen',
       'thanh vinh', 'ly trien', 'haf tinh', 'truong trinh', 'man thienh',
       'cam le-dn'], dtype=object)