In [2]:
import pandas as pd 
import numpy as np

In [3]:
customer = pd.read_csv('customer.csv')

In [4]:
customer.head()

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,36268,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,35901,Nam,man thai,KH0104|0333,student,health service
2,0000000051,34319,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,36472,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,34608,Nam,cẩm lệ,KH0104|40580,blue collar,health service

In [5]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  4479 non-null   object
 1   DOB         4479 non-null   int64
 2   gender      4479 non-null   object
 3   address     4478 non-null   object
 4   Website     3943 non-null   object
 5   job         4479 non-null   object
 6   industry    3357 non-null   object
dtypes: int64(1), object(6)
memory usage: 245.1+ KB

In [6]:
from datetime import datetime, timedelta

In [7]:
current_date = datetime.now()
base_date = datetime(1899, 12, 30)
max_days_difference = (current_date - base_date).days

In [8]:
rows_to_drop = customer[customer['DOB']>max_days_difference].index

In [9]:
customer.drop(rows_to_drop, axis=0, inplace=True)

In [10]:
def date_convert(excel_date_value):
    base_date = datetime(1899, 12, 30)
    resulting_date = base_date + timedelta(days=excel_date_value)
    formatted_date = resulting_date.strftime('%d/%m/%Y')
    return formatted_date

customer['DOB'] = customer['DOB'].apply(date_convert)

In [11]:
customer['DOB'] = pd.to_datetime(customer['DOB'], format='%d/%m/%Y')

In [12]:
def age_calculate(birthdate):
    current_date = datetime.now()
    age = current_date.year - birthdate.year - ((current_date.month, current_date.day) < (birthdate.month, birthdate.day))
    return age 

customer['age'] = customer['DOB'].apply(age_calculate)

In [13]:
customer['age']

0       24
1       25
2       30
3       24
4       29
        ..
4474    28
4475    23
4476    35
4477    27
4478    21
Name: age, Length: 4475, dtype: int64

In [14]:
customer

,customerid,DOB,gender,address,Website,job,industry,age
0,0000000014,1999-04-18,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer,24
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,25
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,30
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,24
4,0000000098,1994-10-01,Nam,cẩm lệ,KH0104|40580,blue collar,health service,29
...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,Nữ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance,28
4475,KH9958204,2001-01-01,Nữ,"Phước Mỹ, ĐN",NaN,teenager,NaN,23
4476,WEBS00000043900,1988-06-17,Nữ,nguyen gian thanh,KHWEBS|00006890,specialist,construction,35
4477,WEBS00000044909,1996-09-08,Nữ,ngũ hành sơn,KHWEBS|00007899,blue collar,finance,27
4478,WEBS00000046015,2002-04-26,Nữ,Thanh Khê Tây - Thanh Khê,KHWEBS|00009005,teenager,NaN,21

In [15]:
customer.nunique()

customerid    4475
DOB           3049
gender           2
address       1260
Website       3940
job              5
industry         9
age             50
dtype: int64

In [16]:
customer['gender'] = customer['gender'].astype('category')

In [17]:
customer['address'].value_counts()

address
hải châu                     312
ngũ hành sơn                 294
hòa khánh                    270
liên chiểu                   263
sơn trà                      252
                            ...
vũ quỳnh                       1
Pleiku, Gia Lai                1
Phan Boi                       1
 THÁI THỊ BÔI ĐÀ NẴNG          1
Thanh Khê Tây - Thanh Khê      1
Name: count, Length: 1260, dtype: int64

In [18]:
customer.isnull().sum()

customerid       0
DOB              0
gender           0
address          1
Website        535
job              0
industry      1118
age              0
dtype: int64

In [19]:
null_address_rows = customer[customer['address'].isnull()].index

In [20]:
customer.drop(null_address_rows, axis=0, inplace=True)

In [21]:

customer['address']

0                 hoa khe quan thanh khe
1                               man thai
2                      que son quang nam
3                           truong chinh
4                                 cẩm lệ
                      ...
4474    A, THUAN PHUOC,HAI CHAU, DA NANG
4475                        Phước Mỹ, ĐN
4476                   nguyen gian thanh
4477                        ngũ hành sơn
4478           Thanh Khê Tây - Thanh Khê
Name: address, Length: 4474, dtype: object

In [39]:
import itertools
from thefuzz import fuzz, process
customer_address_id = customer[['customerid', 'address']]
customer_address_id

           customerid                           address
0          0000000014            hoa khe quan thanh khe
1          0000000034                          man thai
2          0000000051                 que son quang nam
3          0000000081                      truong chinh
4          0000000098                            cẩm lệ
...               ...                               ...
4474        KH9855766  A, THUAN PHUOC,HAI CHAU, DA NANG
4475        KH9958204                      Phước Mỹ, ĐN
4476  WEBS00000043900                 nguyen gian thanh
4477  WEBS00000044909                      ngũ hành sơn
4478  WEBS00000046015         Thanh Khê Tây - Thanh Khê

[4474 rows x 2 columns]

In [69]:
customer_address = customer["address"].apply(lambda x: x.lower())
customer_address.value_counts()

address
hải châu                 414
liên chiểu               321
sơn trà                  318
ngũ hành sơn             305
hòa khánh                271
                        ...
 thái thị bôi đà nẵng      1
ho si tan                  1
hòa liên, hòa vang         1
trần tống - thanh khê      1
nguyen gian thanh          1
Name: count, Length: 1013, dtype: int64

In [78]:
compare_address = pd.DataFrame(itertools.product(customer['customerid'], customer['customerid']), columns=['CSV 1', 'CSV 2'])
compare_address

                    CSV 1            CSV 2
0              0000000014       0000000014
1              0000000014       0000000034
2              0000000014       0000000051
3              0000000014       0000000081
4              0000000014       0000000098
...                   ...              ...
20016671  WEBS00000046015        KH9855766
20016672  WEBS00000046015        KH9958204
20016673  WEBS00000046015  WEBS00000043900
20016674  WEBS00000046015  WEBS00000044909
20016675  WEBS00000046015  WEBS00000046015

[20016676 rows x 2 columns]

In [79]:
compare_address = compare_address.merge(customer_address_id, how='right', left_on='CSV 1', right_on='customerid')
compare_address = compare_address.merge(customer_address_id, how='right', left_on='CSV 2', right_on='customerid')
compare_address

,CSV 1,CSV 2,customerid_x,address_x,customerid_y,address_y
0,0000000014,0000000014,0000000014,hoa khe quan thanh khe,0000000014,hoa khe quan thanh khe
1,0000000034,0000000014,0000000034,man thai,0000000014,hoa khe quan thanh khe
2,0000000051,0000000014,0000000051,que son quang nam,0000000014,hoa khe quan thanh khe
3,0000000081,0000000014,0000000081,truong chinh,0000000014,hoa khe quan thanh khe
4,0000000098,0000000014,0000000098,cẩm lệ,0000000014,hoa khe quan thanh khe
...,...,...,...,...,...,...
20016671,KH9855766,WEBS00000046015,KH9855766,"A, THUAN PHUOC,HAI CHAU, DA NANG",WEBS00000046015,Thanh Khê Tây - Thanh Khê
20016672,KH9958204,WEBS00000046015,KH9958204,"Phước Mỹ, ĐN",WEBS00000046015,Thanh Khê Tây - Thanh Khê
20016673,WEBS00000043900,WEBS00000046015,WEBS00000043900,nguyen gian thanh,WEBS00000046015,Thanh Khê Tây - Thanh Khê
20016674,WEBS00000044909,WEBS00000046015,WEBS00000044909,ngũ hành sơn,WEBS00000046015,Thanh Khê Tây - Thanh Khê
20016675,WEBS00000046015,WEBS00000046015,WEBS00000046015,Thanh Khê Tây - Thanh Khê,WEBS00000046015,Thanh Khê Tây - Thanh Khê

In [80]:
compare_address = compare_address[['CSV 1', 'CSV 2', 'address_x', 'address_y']]
compare_address

,CSV 1,CSV 2,address_x,address_y
0,0000000014,0000000014,hoa khe quan thanh khe,hoa khe quan thanh khe
1,0000000034,0000000014,man thai,hoa khe quan thanh khe
2,0000000051,0000000014,que son quang nam,hoa khe quan thanh khe
3,0000000081,0000000014,truong chinh,hoa khe quan thanh khe
4,0000000098,0000000014,cẩm lệ,hoa khe quan thanh khe
...,...,...,...,...
20016671,KH9855766,WEBS00000046015,"A, THUAN PHUOC,HAI CHAU, DA NANG",Thanh Khê Tây - Thanh Khê
20016672,KH9958204,WEBS00000046015,"Phước Mỹ, ĐN",Thanh Khê Tây - Thanh Khê
20016673,WEBS00000043900,WEBS00000046015,nguyen gian thanh,Thanh Khê Tây - Thanh Khê
20016674,WEBS00000044909,WEBS00000046015,ngũ hành sơn,Thanh Khê Tây - Thanh Khê
20016675,WEBS00000046015,WEBS00000046015,Thanh Khê Tây - Thanh Khê,Thanh Khê Tây - Thanh Khê

In [81]:
partial_ratio_score = [fuzz.partial_ratio(c1, c2) for c1, c2 in compare_address[['address_x', 'address_y']].values]

In [82]:
compare_address['Partial_ratio_score'] = partial_ratio_score
compare_address

C:\Users\Kien\AppData\Local\Temp\ipykernel_468\1877719560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compare_address['Partial_ratio_score'] = partial_ratio_score

,CSV 1,CSV 2,address_x,address_y,Partial_ratio_score
0,0000000014,0000000014,hoa khe quan thanh khe,hoa khe quan thanh khe,100
1,0000000034,0000000014,man thai,hoa khe quan thanh khe,75
2,0000000051,0000000014,que son quang nam,hoa khe quan thanh khe,48
3,0000000081,0000000014,truong chinh,hoa khe quan thanh khe,54
4,0000000098,0000000014,cẩm lệ,hoa khe quan thanh khe,20
...,...,...,...,...,...
20016671,KH9855766,WEBS00000046015,"A, THUAN PHUOC,HAI CHAU, DA NANG",Thanh Khê Tây - Thanh Khê,20
20016672,KH9958204,WEBS00000046015,"Phước Mỹ, ĐN",Thanh Khê Tây - Thanh Khê,27
20016673,WEBS00000043900,WEBS00000046015,nguyen gian thanh,Thanh Khê Tây - Thanh Khê,47
20016674,WEBS00000044909,WEBS00000046015,ngũ hành sơn,Thanh Khê Tây - Thanh Khê,45
20016675,WEBS00000046015,WEBS00000046015,Thanh Khê Tây - Thanh Khê,Thanh Khê Tây - Thanh Khê,100

In [83]:
compare_address = compare_address[compare_address['Partial_ratio_score'] >= 90]
compare_address = compare_address[compare_address['CSV 1'] != compare_address['CSV 2']]
compare_address

,CSV 1,CSV 2,address_x,address_y,Partial_ratio_score
1727,0001079961,0000000014,quan thanh khe,hoa khe quan thanh khe,100
1785,0001080741,0000000014,quan thanh khe,hoa khe quan thanh khe,100
1792,0001080804,0000000014,q thanh khe,hoa khe quan thanh khe,95
1836,0001081290,0000000014,q. thanh khe,hoa khe quan thanh khe,91
1974,0001083223,0000000014,q thanh khe,hoa khe quan thanh khe,95
...,...,...,...,...,...
20012021,KH5625074,WEBS00000044909,ngũ hành sơn,ngũ hành sơn,100
20012064,KH6475663,WEBS00000044909,ngũ hành sơn,ngũ hành sơn,100
20012096,KH7289454,WEBS00000044909,ngũ hành sơn,ngũ hành sơn,100
20013700,0001067741,WEBS00000046015,Thanh Khê,Thanh Khê Tây - Thanh Khê,100
20015894,0001186442,WEBS00000046015,Thanh Khê,Thanh Khê Tây - Thanh Khê,100

In [28]:
compare_address

,CSV 1,CSV 2,Partial_ratio_score
0,hoa khe quan thanh khe,hoa khe quan thanh khe,100
1,hoa khe quan thanh khe,man thai,75
2,hoa khe quan thanh khe,que son quang nam,48
3,hoa khe quan thanh khe,truong chinh,54
4,hoa khe quan thanh khe,cẩm lệ,20
...,...,...,...
20016671,Thanh Khê Tây - Thanh Khê,"A, THUAN PHUOC,HAI CHAU, DA NANG",20
20016672,Thanh Khê Tây - Thanh Khê,"Phước Mỹ, ĐN",27
20016673,Thanh Khê Tây - Thanh Khê,nguyen gian thanh,47
20016674,Thanh Khê Tây - Thanh Khê,ngũ hành sơn,45
20016675,Thanh Khê Tây - Thanh Khê,Thanh Khê Tây - Thanh Khê,100

In [29]:
compare_address[compare_address['Partial_ratio_score'] >= 80]

,CSV 1,CSV 2,Partial_ratio_score
0,hoa khe quan thanh khe,hoa khe quan thanh khe,100
677,hoa khe quan thanh khe,phan thanh,80
788,hoa khe quan thanh khe,phan thanh,80
1314,hoa khe quan thanh khe,quan Thanh Khe,86
1390,hoa khe quan thanh khe,quan Thanh Khe,86
...,...,...,...
20016043,Thanh Khê Tây - Thanh Khê,thanh khê,82
20016059,Thanh Khê Tây - Thanh Khê,Quận Thanh Khê,83
20016102,Thanh Khê Tây - Thanh Khê,Quận Thanh Khê,83
20016591,Thanh Khê Tây - Thanh Khê,Thanh Khe Tay,85
20016675,Thanh Khê Tây - Thanh Khê,Thanh Khê Tây - Thanh Khê,100

In [30]:
customer[customer['address'].apply(lambda x: len(x.split())==2)]['address'].unique()

array(['man thai', ' truong chinh', 'cẩm lệ', 'Tam Thuan', 'Cẩm Lê,Đn',
       ' Le Duan', 'Thuan Phuoc', 'liên chiểu', 'hòa vang', 'Ton Dan',
       ' thanh sơn', 'hòa minh', 'sơn trà', 'THANH KHÊ', ' ton dan',
       'hải châu', 'Hùng Vương', 'hòa khánh', 'ĐỐNG ĐA', 'Mẹ Nhu',
       'Nguyễn Chánh', ' Đống Đa', 'Văn Cao', 'lê duẩn', 'LIÊN CHIỂU',
       ' Lê Duẩn', 'Phan Thanh', 'cam le', 'Lang Ha', 'tô hiệu',
       'hỉa phòng', 'Yên Khê', 'KHU đÔNG', 'đồng kì', 'Quảng Trị',
       'Lê Thiệt', 'LÊ DUẨN', 'hoaf vang', ' hùng vương', 'KHUÊ TRUNG',
       'hoàng diệu', ' LÊ ĐỘ', 'tôn đản', 'quảng nam', 'bùi viện',
       'TRƯỜNG CHINH', 'quế sơn', 'Hoàng Diệu', ' Nguyễn Trãi', 'Đào Tần',
       'Liên Chiểu', 'Tôn Đản', 'lý triệu', 'Trần Phú', 'LÊ ĐỘ',
       'Hàm Nghi', 'Hải Châu', 'NGỌC HÂN', 'Quảng Nam', 'bac dau',
       'tân thái', 'hải phòng', 'Thanh thủy', 'Hải Phòng', 'Mân Quang',
       'Huỳnh Lý', 'Hải Sơn', 'Đỗ Quang', 'thanh Long', 'Thanh Thủy',
       'KỲ ĐỒNG', 'HÙNG VƯƠNG', 'cô giang', 'DUY TÂN', 'NGÔ QUYỀN',
       'THANH DUYÊN', 'THÚC TỀ', 'Quang Trung', 'HẢI PHÒNG', 'Lê Duẩn',
       ' TRƯỜNG CHINH', 'hội an', 'quảng Ngãi', 'HÒA CHÂU', ' Yên Báy',
       'BẮC ĐẨU', 'Ngô quyền', 'an đồn', 'Thanh Hải', 'NGUYỄN NGHIÊM',
       'phan thanh', 'Hoa Lien', 'HÒA PHÁT', 'QUẢNG NAM', 'Đăk Lăk',
       'Phan Thành', 'Trường Chinh', 'Bình Định', 'Van Don', 'Hoa Minh',
       'SON TRA', 'son tra', 'lê duẫn', ' Phan Thanh', 'Hoa Son',
       'Thôi Hữu', ' Sơn Trà', 'TRường Sơn', 'núi thành', 'Hải Phong',
       'Cao Thắng', 'tam kỳ', 'nguyễn đăng', 'lê Duẩn', 'Mai An',
       'Đống Đa', ' Hùng Vương', 'Nguyễn Hoàng', 'PASRAUR, ĐN',
       ' HÙNG VƯƠNG', 'QUẢNG TRỊ', 'Thế Lữ', ' TÔ HIỆU', 'thanh sơn',
       'Thái phiên', 'nguyễn du', 'Lê Lợi', 'HOÀNG DIỆU', ' Quang Trung',
       'Hà SƠn', ' Thanh Thủy', 'SƠN TRÀ', 'HẢI CHÂU', 'quãng nam',
       'vũ quỳnh', 'NÚI THÀNH', 'Phan Boi', 'HÀO VANG', 'TRẦN PHÚ',
       'Quảng nam', 'QUANG RNAM', 'QUẢNG BÌNH', 'Hòa Vang', 'THANH KHE',
       'HAI CHAU', 'Chính Gián', 'CẨM LỆ', 'CÂM LỆ', 'TAM KÌ',
       'quang nam', 'Lê Cơ', '- BLO', 'câẩm lệ', 'Thanh Khê',
       'LIEN CHIEU', 'PHU YEN', ' ĐỐNG ĐA', 'Ba Đình', ' Hải Phòng',
       'HÒA VANG', 'CAM LE', 'Hai Phong', 'hoaf khanhf', 'đại lộc',
       'Hội An', 'thanh khê', 'Lê Độ', 'HỘI AN', 'hai chau', 'Mai Am',
       'Khúc Hạo', 'HOA VANG', 'q.liên chiểu', 'hoi an', 'LIEN CHIÊU',
       'THANH  KHÊ', 'Đổ Quang', 'Tran Phu', 'QUANG NAM', 'Hà Tĩnh',
       'QUANG NẢM', 'THẠC GIÁN', 'HÒA KHÁNH', 'QUANG  NAM', 'SỢN TRÀ',
       ' Hải Phong', ' PHAN THANH', 'SƠN TRA', 'quang trung', 'lê lai',
       'QUANG TRI', ' HOÀNG DIỆU', 'HẢI DƯƠNG', 'QUẢNG NMA', 'QUANG BINH',
       'TAM KỲ', 'Quảng Bình', 'Phan thanh', 'Duy Xuyên', 'Hòa An',
       'Hòa Tiến', 'CẨM LÊH', 'Hòa Vang', ' THANH LONG', 'ĐĂK LĂK',
       'TRƯƠNG ĐỊNH', ' Nam Cao', 'Vũ Hữu', 'THNAH KHÊ', 'HÒA VNAG',
       ' lê duẩn', 'thanh thủy', 'QUANGR NAM', 'LIEN CHIỂU', 'thanh khe',
       'que son', ' Tôn Đản', 'quảng nam,', ' nguyễn trắc', 'hair chaau',
       'bình định', 'Ngo Quyen', 'hà nội', 'HÀ NỘI', 'KHÁNH HÒA',
       'SƠN TRAG', 'SƠN TRTA', 'trần phú', 'THĂNG BÌNH', 'LIEENC HIỂU',
       'LIÊN CHIÊU', 'lang son', ' đỗ quang', ' Cach Mang', 'HOANG DIEU',
       'thanh khee', 'KON TUM', 'đống đa', 'ĐỖ NHUẬN', 'THANH KHEE',
       'NGUYỄN HIỀN', 'Âu Cơ', 'sơn trà', 'nghệ an', 'SƠN TRÀ',
       'Kiên Giang', 'gia lai', 'nguyễn biểu', ' lê độ', 'hải Châu',
       'QUẢNG Nam', 'Thanh Sơn', 'hà tĩnh', 'Cô Giang', ' Trương Định',
       ' Lê Độ', ' Cao Thắng', 'tran phu', 'LE DUAN', 'thi sách',
       'HÀM NGHI', 'Nguyen Trai', 'tiểu la', 'nguyễn hoàng', 'Nam Cao',
       'Thi SÁch', 'trường chinh', ' NÚI THÀNH', 'hòa phong', 'An Khe',
       'Cẩm Lệ', 'PHAN THANH', 'KHUC HA', 'Bắc Sơn', 'BẮC GIANG',
       'CO GIANG', 'quang binh', 'BÌNH ĐỊNH', 'Quang Nam', 'CAO THẮNG',
       'QUANG NGAI', 'Gia Lai', 'HÒA THANH', 'QUANGC NGÃI', 'HÀ TĨNH',
       'HÀN THUYÊN', 'THANH VINH', 'quãng ngãi', 'ĐẠI LỘC', 'Ly Trien',
       ' LÊ DUẨN', 'HAF TINH', 'Le Do', 'TÔN ĐẢN', 'Hà Nội', 'QUÃNG NAM',
       'quảng ngãi', ' Trường Trinh', 'NGUYỄN HOÀNG', ' MAN THIÊNH',
       ' Cam Le-DN', 'Quang Binh', 'Nguyen Hoang', 'Bắc Đẩu',
       ' Nui Thanh'], dtype=object)

In [31]:
customer

,customerid,DOB,gender,address,Website,job,industry,age
0,0000000014,1999-04-18,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer,24
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,25
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,30
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,24
4,0000000098,1994-10-01,Nam,cẩm lệ,KH0104|40580,blue collar,health service,29
...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,Nữ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance,28
4475,KH9958204,2001-01-01,Nữ,"Phước Mỹ, ĐN",NaN,teenager,NaN,23
4476,WEBS00000043900,1988-06-17,Nữ,nguyen gian thanh,KHWEBS|00006890,specialist,construction,35
4477,WEBS00000044909,1996-09-08,Nữ,ngũ hành sơn,KHWEBS|00007899,blue collar,finance,27
4478,WEBS00000046015,2002-04-26,Nữ,Thanh Khê Tây - Thanh Khê,KHWEBS|00009005,teenager,NaN,21