In [40]:
import pandas as pd 
import numpy as np 
import re

In [41]:
customer = pd.read_csv('customer.csv')

In [42]:
customer.head()

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,36268,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,35901,Nam,man thai,KH0104|0333,student,health service
2,0000000051,34319,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,36472,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,34608,Nam,cẩm lệ,KH0104|40580,blue collar,health service

In [43]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  4479 non-null   object
 1   DOB         4479 non-null   int64
 2   gender      4479 non-null   object
 3   address     4478 non-null   object
 4   Website     3943 non-null   object
 5   job         4479 non-null   object
 6   industry    3357 non-null   object
dtypes: int64(1), object(6)
memory usage: 245.1+ KB

In [44]:
from datetime import datetime, timedelta

In [45]:
current_date = datetime.now()
base_date = datetime(1899, 12, 30)
max_days_difference = (current_date - base_date).days

In [46]:
rows_to_drop = customer[customer['DOB']>max_days_difference].index

In [47]:
customer.drop(rows_to_drop, axis=0, inplace=True)

In [48]:
def date_convert(excel_date_value):
    base_date = datetime(1899, 12, 30)
    resulting_date = base_date + timedelta(days=excel_date_value)
    formatted_date = resulting_date.strftime('%d/%m/%Y')
    return formatted_date

customer['DOB'] = customer['DOB'].apply(date_convert)

In [49]:
customer['DOB'] = pd.to_datetime(customer['DOB'], format='%d/%m/%Y')

In [50]:
def age_calculate(birthdate):
    current_date = datetime.now()
    age = current_date.year - birthdate.year - ((current_date.month, current_date.day) < (birthdate.month, birthdate.day))
    return age 

customer['age'] = customer['DOB'].apply(age_calculate)

In [51]:
customer['age']

0       24
1       25
2       30
3       24
4       29
        ..
4474    28
4475    23
4476    35
4477    27
4478    21
Name: age, Length: 4475, dtype: int64

In [52]:
customer.head()

,customerid,DOB,gender,address,Website,job,industry,age
0,0000000014,1999-04-18,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer,24
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,25
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,30
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,24
4,0000000098,1994-10-01,Nam,cẩm lệ,KH0104|40580,blue collar,health service,29

In [53]:
customer.nunique()

customerid    4475
DOB           3049
gender           2
address       1260
Website       3940
job              5
industry         9
age             49
dtype: int64

In [54]:
customer.isnull().sum()

customerid       0
DOB              0
gender           0
address          1
Website        535
job              0
industry      1118
age              0
dtype: int64

In [55]:
rows_to_drop = customer[customer['address'].isnull()].index

In [56]:
customer.drop(rows_to_drop, axis=0, inplace=True)

In [57]:
customer.isnull().sum()

customerid       0
DOB              0
gender           0
address          0
Website        535
job              0
industry      1118
age              0
dtype: int64

In [58]:
def format_id(id):
    numeric_part = re.search(r'\d+', id)
    return str(int(numeric_part.group())) if numeric_part else ''

customer['customer_id'] = customer['customerid'].apply(format_id)

In [59]:
customer['customer_id']

0            14
1            34
2            51
3            81
4            98
         ...
4474    9855766
4475    9958204
4476      43900
4477      44909
4478      46015
Name: customer_id, Length: 4474, dtype: object