In [1]:
import pandas as pd 
import numpy as np

In [2]:
ticket = pd.read_csv('ticket.csv')

In [3]:
ticket.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,5/6/2019,90000.0,0000000014,20074925,5/6/2019,18:15,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,5/6/2019,90000.0,0000000014,20074924,5/6/2019,18:15,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,5/22/2019,90000.0,0000000034,20097042,5/22/2019,20:45,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,5/22/2019,90000.0,0000000034,20097041,5/22/2019,20:45,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,5/30/2019,90000.0,0000000034,20106761,5/30/2019,19:30,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không

In [4]:
ticket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35474 entries, 0 to 35473
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   orderid       35378 non-null  object
 1   cashier       35474 non-null  object
 2   saledate      35378 non-null  object
 3   total         35378 non-null  float64
 4   customerid    35474 non-null  object
 5   ticketcode    35474 non-null  int64
 6   date          35474 non-null  object
 7   time          35474 non-null  object
 8   slot          35474 non-null  object
 9   room          35474 non-null  int64
 10  film          35474 non-null  object
 11  slot type     35474 non-null  object
 12  ticket type   35474 non-null  object
 13  ticket price  35474 non-null  int64
 14  popcorn       35378 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 4.1+ MB

In [8]:
ticket.sort_values(by='total', ascending=False)

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
8425,10026052019B0285,emp007,5/26/2019,1935000.0,0000029127,20102384,5/26/2019,20:20,E12,2,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
8458,10026052019B0285,emp007,5/26/2019,1935000.0,0000029127,20102363,5/26/2019,20:20,D04,2,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
8460,10026052019B0285,emp007,5/26/2019,1935000.0,0000029127,20102380,5/26/2019,20:20,E04,2,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
8461,10026052019B0285,emp007,5/26/2019,1935000.0,0000029127,20102381,5/26/2019,20:20,E05,2,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
8462,10026052019B0285,emp007,5/26/2019,1935000.0,0000029127,20102390,5/26/2019,20:20,E17,2,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23102,NaN,Website,NaN,NaN,0003008617,20106999,5/30/2019,21:35,H09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,NaN
23103,NaN,Website,NaN,NaN,0003008617,20106998,5/30/2019,21:35,H08,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,NaN
23106,NaN,Website,NaN,NaN,0003008617,20091106,5/17/2019,20:15,F14,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,NaN
23107,NaN,Website,NaN,NaN,0003008617,20091105,5/17/2019,20:15,F13,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,NaN
23108,NaN,Website,NaN,NaN,0003008617,20091107,5/17/2019,20:15,F15,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,NaN